[Unit]
Description=BooCat API for Linux

[Service]
WorkingDirectory=/var/boocat/bin
ExecStart=/usr/bin/dotnet KevinZonda.BooCat.AspNetWebApi.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=boocat-api
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target